#include? "../../Pods/Target Support Files/Pods-Runner/Pods-Runner.debug.xcconfig"
#include? "../../Pods/Target Support Files/Pods-Runner/Pods-Runner.release.xcconfig"
#include? "../../Pods/Target Support Files/Pods-Runner/Pods-Runner.profile.xcconfig"

PRODUCT_NAME = budget_familial
PRODUCT_BUNDLE_IDENTIFIER = com.example.budgetFamilial
PRODUCT_COPYRIGHT = Copyright © 2026 com.example. All rights reserved.
